:root {
    --xxlarge : 170px;
    --xlarge : 35px;
    --large : 28px;
    --medium : 18px;
    --small : 16px;
    --xsmall : 14px;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    margin : 0 auto;
    width: 100%;
}

.Main_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.Main_Container .Main_Wrapper {
    text-align: center;
    position: fixed;
    /* 
    시계는 북마크 바의 열림/닫힘 상태에 상관없이
    고정된 위치를 유지해야하므로 position을 fixed로 설정하였음.
    */
}

.Main_Wrapper .Today_Date {
    font-size: var(--large);
    font-weight: 400;
}

.Main_Wrapper .Now_Time {
    font-size: var(--xlarge);
    font-weight: 400;
    /*
        예제에서 설정한 font-size와
        내가 설정한 font-size가 다르다보니
        날짜, 시간 두 요소가 겹쳐서 나오는 issue 있었다.

        'margin-top: -35px;'을 삭제하니 문제가 해결됨
        (날짜 font가 large, 시간 font가 xlarge로
         xlarge의 px 크기가 large의 거의 3배 정도로
         그냥 두면 간격이 너무 벌어지므로 margin 영역의 top 부분을 줄이는
         속성을 추가한 것으로 보인다.)
    */
}

.Main_Wrapper .Search {
    display: flex;
    justify-content: center;
}

.Search #Search_Input {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: var(--medium);
    padding: 15px 0px;
    border-radius: 30px;
    border: 0px;
    text-align: center;
    margin: 15px;
}

.Search #Search_Input::placeholder {
    color: rgba(169, 169, 169);
    font-size: var(--medium);
}

.Bookmark_Open {
    width: 240px;
    padding: 15px 30px;
    font-size: var(--small);
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex; 
    justify-content: flex-end;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.Bookmark_Close {
    width: 240px;
    padding: 15px 30px;
    font-size: var(--small);
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex; 
    justify-content: flex-end;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.Bookmark_Close div {
    cursor: pointer;
}

.Bookmark_Open div {
    cursor: pointer;
}

.Bookmark_Bar {
    width: 240px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50px;
    right: 0px;
    min-height: calc(100vh - 70px);
    padding: 10px 30px;
    color: white;
}